
# Your openai api key. (required)
OPENAI_API_KEY=sk-xxxx

# Override openai api request base url. (optional)
# Default: https://api.openai.com
# Examples: http://your-openai-proxy.com
BASE_URL=

# Specify OpenAI organization ID.(optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
OPENAI_ORG_ID=

# (optional)
# Default: Empty
# If you do not want users to use GPT-4, set this value to 1.
DISABLE_GPT4=

# see https://next-auth.js.org/providers/linkedin
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

# use https://generate-secret.vercel.app/32 to generate secret
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# if configured, sends a message to the hook for each sign-in
SLACK_WEBHOOK_URL=